* {
	font-family: 'TT Norms Pro', sans-serif;
}

.bg-degradado {
	background: rgb(81, 112, 255);
	background: linear-gradient(125deg, rgba(81, 112, 255, 1) 0%, rgba(255, 102, 196, 1) 100%);
}

.logoApp {
	background: rgb(81, 112, 255);
	background: linear-gradient(0deg, rgba(81, 112, 255, 1) 0%, rgba(255, 102, 196, 1) 100%);
	width: 30rem;
	height: 30rem;
	border-radius: 4rem !important;
	display: grid;
	place-content: center;
}

.divCenter {
	display: grid;
	place-content: center;
}

.card {
	height: 45rem !important;
}

.title-todo {
	font-size: 6.7rem !important;
	font-weight: bold;
}

.title-alex {
	font-family: 'Mistrully', sans-serif !important;
	color: #CB6CE6;
	font-size: 4.5rem !important;
	position: relative;
	top: 5.6rem;
}

.title-funciones {
	font-size: 5.5rem !important;
	font-weight: bold;
}

.subtitle-funciones {
	font-size: 1.9rem !important;
	font-weight: bold;
}

.text-funciones {
	width: 28rem !important;
	font-weight: 300;
	font-size: 1.9rem !important;
}

.px-6 {
	padding-right: 11rem !important;
	padding-left: 11rem !important;
}

.ps-6 {
	padding-left: 10rem !important;
}

.py-5 {
	padding-top: 11rem !important;
	padding-bottom: 11rem !important;
}

.logo {
	font-size: 25rem !important;
}

a.nav-link.active {
	font-size: 13pt;
	font-weight: bold;
	text-decoration: underline !important;
}

@media (max-width: 1440px) {
	.py-5 {
		padding-top: 7rem !important;
		padding-bottom: 7rem !important;
	}

	.px-6 {
		padding-right: 4rem !important;
		padding-left: 4rem !important;
	}

	.ps-6 {
		padding-left: 4rem !important;
	}

	.ps-6 {
		padding-left: 3rem !important;
		padding-top: 0.8rem;
	}
}

@media (max-width: 1024px) {
	.logoApp {
		width: 25rem !important;
		height: 25rem !important;
		border-radius: 3rem !important;
	}

	.logo {
		font-size: 25rem !important;
	}

	.title-todo {
		font-size: 5.4rem !important;
	}

	.title-alex {
		font-size: 4.4rem !important;
		top: 5rem;
	}

	.card{
		height: 34rem !important;
	}
}

@media (max-width: 768px) {
	.logoApp {
		width: 20rem !important;
		height: 20rem !important;
		border-radius: 3rem !important;
	}

	.logo {
		font-size: 20rem !important;
	}

	.title-todo {
		font-size: 4.7rem !important;
	}

	.title-alex {
		font-size: 3.4rem !important;
		top: 4.2rem;
	}

	.col-title-header {
		margin-top: 2rem !important;
		margin-bottom: 3rem !important;
	}

	.card{
		height: 40rem !important;
	}

	.ps-6 {
		padding-left: 3.7rem !important;
		padding-top: 0.8rem;
	}

}


@media (max-width: 425px) {
	.logoApp {
		width: 15rem !important;
		height: 15rem !important;
		border-radius: 3rem !important;
	}

	.logo {
		font-size: 15rem !important;
	}

	.px-6 {
		padding-right: 2rem !important;
		padding-left: 2rem !important;
	}

	.ps-6 {
		padding-left: 3rem !important;
		padding-top: 0.8rem;
	}

	.py-5 {
		padding-top: 1rem !important;
		padding-bottom: 0rem !important;
	}

	.title-funciones {
		font-size: 4.2rem !important;
		font-weight: bold;
	}

	.subtitle-funciones {
		font-size: 1.9rem !important;
		font-weight: bold;
	}

	.text-funciones {
		width: 28rem !important;
		font-weight: 300;
		font-size: 1.9rem !important;
	}

	.card {
		height: 35rem !important;
	}

	.title-todo {
		font-size: 4.7rem !important;
	}

	.title-alex {
		font-size: 3.4rem !important;
		top: 4.2rem;
	}

	.div-subtitle-funciones {
		margin-top: 5rem !important;
	}

	.col-title-header {
		margin-top: 2rem !important;
		margin-bottom: 3rem !important;
	}
}

@media (max-width: 375px) {
	.title-funciones {
		font-size: 4rem !important;
		font-weight: bold;
	}

	.subtitle-funciones {
		font-size: 1.9rem !important;
		font-weight: bold;
	}

	.text-funciones {
		width: 28rem !important;
		font-weight: 300;
		font-size: 1.4rem !important;
	}

	.card {
		height: 25rem !important;
	}

	.title-todo {
		font-size: 4rem !important;
	}

	.title-alex {
		font-size: 3rem !important;
		top: 4rem;
	}

	.div-subtitle-funciones {
		margin-top: 3rem !important;
	}
}